<form>
  <div class="form-group">
    <label for="title">Recipe Title</label>
    <input type="text" id="title" name="title" >
  </div>
  <div class="form-group">
    <label for="image">Recipe Image</label>
    <input type="text" id="image" name="image" >
  </div>
  <div class="form-group">
    <label for="desc">Recipe description</label>
    <textarea id="desc" name="description"></textarea>
  </div>
  <div class="form-group">
    <label>Recipe ingredients</label>
    <div>
      <input type="text" name="ingredientTitle">
      <input type="number" name="ingredientAmount">
    </div>
  </div>
  <button class="btn" type="submit">Save</button>
  </form>
